@charset "UTF-8";
/* ID vc so coloca 1 vez, CLASS vc pode colocar varias */
/* CLASS vc so precisa colocar ex:(.basico)  */

body {
    background-color: rgb(114, 236, 114);
}

h1 {
    color: green;
    font-family: Arial, Helvetica, sans-serif;

}

h1#principal {
    color: white;
    text-align: center;
    background-color: rgb(4, 70, 4);
} 

.basico {
    text-align: center;
}

.intermediario {
    color: rgb(0, 0, 0);
}

h2 {
    color: rgb(3, 61, 3);
}

p {
    text-align: justify;
}